.collection-product-container {
    padding: 20px;
}

.product-heading {
    font-size: 2rem;
    text-align: right;
    color: #333;
    margin-bottom: 8px;
    padding-right: 263px;
    font-weight: 300;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 55px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.product-card {
    background-color: #fff;
    border-radius: 0px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.product-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 0px;

}

.product-name {
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
    color: #333;
    transition: color 0.3s ease;
}

.product-name:hover {
    color: #007bff;
}

.product-price {
    font-size: 15px !important;
    font-weight: 500;
    color: #565656 !important;
    margin: 10px 0 !important;
}

.sorting-controls {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sorting-controls select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}